{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}

<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>

	<div class="container">

		<div class="four columns">
  			<nav role="navigation">{% include navigation.html %}</nav>
        <aside class="sidebar">
          {% if site.blog_index_asides.size %}
            {% include_array blog_index_asides %}
          {% else %}
            {% include_array default_asides %}
          {% endif %}



        </aside>    
  	</div>
    

    <header class="twelve columns" role="banner">
    {% include header.html %}
    </header>
<span style="background-color: #fcf8e3; color: #c09853; padding: 10px; border-style: solid; border-width: 1px; border-color: #fbeed5; border-radius: 4px;">
<a href="http://blog.tldr.io" target="_blank" style="color: #c09853;">We are not writing here anymore, check the tldr.io blog out!</a>
</span>

  	<div id="main" class="twelve columns">
	    <div id="content">
	      {{ content | expand_urls: root_url }}
	    </div>
  	</div>
  
  <footer role="contentinfo"  class="sixteen columns">{% include footer.html %}</footer>
  
  {% include after_footer.html %}

  <script >
    $("header")
    .css('cursor', 'pointer')
    .click( function () {
      window.location = "/";
    });
  </script>

<script>
  jQuery.noConflict()('li.other').hover (
    function () {
    jQuery.noConflict()(this).toggleClass("current-menu-item")
  });
</script>

</body>
</html>


	</div> <!-- container -->
