@font-face {
  font-family: 'Cassannet';
  src: url('/assets/fonts/Cassannet.otf');
  font-weight: normal;
  font-style: normal; 
}
@font-face {
  font-family: 'CassanetBold';
  src: url('/assets/fonts/CassanetBold.otf');
  font-weight: normal;
  font-style: normal; 
}
@font-face {
  font-family: 'CassanetOutline';
  src: url('/assets/fonts/CassanetOutline.otf');
  font-weight: normal;
  font-style: normal; 
}
